body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  overflow: 'auto';
}

.material-icons.orange600 {
  color: #eb7c14;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* D3 styling */

path {
  stroke: #a9a9a9;
  stroke-width: 0.5;
}

#neighborhoodPopover {
  position: absolute;
  text-align: center;
  padding: 2px;
  font: 12px sans-serif;
  background: #fff;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0;
}

/* D3 styling */

.mapAndQuestions {
  display: flex;
  padding: 50px auto;
}

.questionBox {
  min-width: 200px;
  padding: 100px auto;
}
#users {
  max-width: 90%;
  max-height: 90%;
  margin: 10px;
  padding: 10px;
  /* border: 2px dashed green; */
  text-align: left;
}

#usersHeadline {
  margin-left: 30px;
}
.userContainer {
  margin: 10px;
  padding: 10px;
  position: relative;
  display: flex;
  /* border: 5px solid red; */

  width: 100vw;
  height: 500px;
  flex-direction: column;

  text-align: left;
}

.userHeader {
  margin: 10px;
  padding: 10px;
  /* position: absolute; */
  font-size: 20px;
  border: 2px solid yellow;
  border-radius: 10px;
  text-align: left;

  text-align: left;
  background-color: white;
  color: black;
  width: 500px;
}

.userList {
  margin: 10px;
  padding: 10px;
  /* position: absolute; */
  font-size: 20px;
  border: 2px solid yellow;
  border-radius: 10px;

  text-align: left;
  background-color: lightgreen;
  color: black;
  width: 500px;
}

.userList:hover {
  /* text-decoration: underline; */
  cursor: pointer;
  background-color: rgb(139, 0, 107);
  color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
  width: 200px;
}

tr:nth-child(even) {
  background-color: blue;
}

th {
  color: black;
}
