body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  overflow: 'auto';
}

.material-icons.orange600 {
  color: #eb7c14;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* D3 styling */

path {
  stroke: #a9a9a9;
  stroke-width: 0.5;
}

#neighborhoodPopover {
  position: absolute;
  text-align: center;
  padding: 2px;
  font: 12px sans-serif;
  background: #fff;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0;
}

/* D3 styling */

.mapAndQuestions {
  display: flex;
  padding: 50px auto;
}

.questionBox {
  min-width: 200px;
  padding: 100px auto;
}
